<h1>HOLA MUNDO</h1>

<hr>

<!--
========== INTERPOLACION ==========
- Interpreta codigo Js dentro de las dobles llaves, como operaciones o funciones de Js para manipulacion de datos
- Interpreta Funciones o variables declaradas en el Ts
- Se puede usar para declarar los valores de los atributos de una etiqueta, pero no es recomendato
-->
<h2 class="tema">INTERPOLACION</h2>
<p class="descripcion">Es una forma de comunicar datos del ts al html</p>
<p>{{' HOLA MUNDO '.repeat(5)}}</p>
<p>3 + 3 = {{ 3 + 3 }}</p>
<p>Hola, soy {{name}} y tengo {{age}} años</p>
<img src={{img}} width="200">
<!--No recomentado, usar Binding para esto-->

<hr>

<!--
========== BINDING ==========
- Forma para modificar atributos desde el controlador y enviarlo al HTML
- Cualquier atributo de HTML se puede encerrar entre corchetes para convertirlo en un BINDING
- Ejemplo:
<img src="direccion_del_archivo">
<img [src]="variable_en_el_ts_con_la_direccion_del_archivo">
-->
<h2 class="tema">BINDING</h2>
<p class="descripcion">Es una forma de comunicacion entre los atributos de las etiquetas html y las variables del ts</p>
<img [src]="person01.img" width="200">
<input [value]="person01.name" type="text">
<progress [value]="person01.age" max="100"></progress>
<button [disabled]="person01.complete">ENVIAR</button>

<hr>

<!--
========== EVENTOS ==========
- Se encierran dentro de parentesis y apunta a un metodo declarado en nuestro ts
- Hay muchos eventos ademas de los aca mostrados que se pueden consultar en MDN
- El evento es un objeto con muchos datos que se puede enviar por parametro a la funcion que dispara el evento: $event
-->
<h2 class="tema">EVENTOS</h2>
<p class="descripcion">Es una forma de ejecutar metodos del ts mediante interacciones o eventos en el html</p>
<button (click)="toggleButton()">Activar/Desactivar Envio</button>
<button (click)="increaseAge()">Age ++</button>
<p>Edad: {{ person02.age }}</p>
<input type="text" [value]="person02.name" (keyup)="changeName($event)" />
<p>Nombre: {{ person02.name }}</p>

<hr>

<!--
========== NGMODEL ==========
- Funcion entre escuchar un evento y setear una propiedad, especial para los inputs
- Angular es incremental y modular, por ende hay que impotar FormsModule en nuestro archivo App.module.ts
- Envia y setea el valor automaticamente del input
- Puede manejar validaciones nativas de HTML haciendo referencia a la etiqueta con un id: #id_de_la_etiqueta_para_validaciones_con_ngModel
- Ejemplo:
<input type="text" [value]="person.name" (keyup)="changeName($event)" />
<input type="text" [(ngModel)]="person.name" />
-->
<h2 class="tema">NGMODEL</h2>
<p class="descripcion">Relaciona un input del html con una variable del ts, estableciendo una relacion de comunicacion
  en ambos sentidos</p>
<!--No tener varios id iguales en el mismo template por que pueden haber conflictos-->
<input type="text" #nameInput="ngModel" required [(ngModel)]="person03.name" />
<p>Valid: {{ nameInput.valid }}</p>
<p>Nombre: {{ person03.name }}</p>
<input type="number" #ageInput="ngModel" min="18" max="32" required [(ngModel)]="person03.age" />
<p>Valid: {{ ageInput.valid }}</p>
<p>Nombre: {{ person03.age }}</p>

<hr>

<!--
========== NGIF ==========
- Directivas: son las que inician con la sintaxis *ng
- La directiva *ngIf nos permite mostrar un contenido si el valor de la directiva es true
- el valor de la directiva puede ser tan compleja como se requiera, añadiendo comparadores && o || tal cual dentro de un if() en Ts
- Se puede mostrar una etiquet por defecto en caso de que el *ngIf no se cumpla, haciendo uso del #id y una etiqueta ng-template
-->
<h2 class="tema">NGIF</h2>
<p class="descripcion">Directiva *ngIf, muestra la etiqueta y su contenido en el html siempre y en cuanto la condicion
  se cumpla, puede
  contener una etiqueta de control que se muestra si la condicion no se cumple</p>
<input type="text" [(ngModel)]="person04.name" />
<p>Nombre: <span *ngIf="person04.age == 26 && person04.name == 'Sebastian'; else myBlock">{{ person04.name }}</span></p>
<ng-template #myBlock>
  <span>Escriba un nombre valido</span>
</ng-template>

<hr>

<!--
========== NGFOR ==========
- Directiva *ngFor
- Itera etiquetas segun la cantidad de elementos de un array o lista en nuestro Ts (variables iterables)
- Esta directiva tambien nos permite saber el indice de cada elemento
-->
<h2 class="tema">NGFOR</h2>
<p class="descripcion">Directiva *ngFor, repite una etiqueta en el html, tantas veces como se itere el objeto que
  referencia</p>
<input type="text" [(ngModel)]="newName" />
<button (click)="addName()">Añadir Nombre</button>
<ul>
  <li *ngIf="names.length === 0">No hay nombres</li>
  <li *ngFor="let name of names; index as i">{{i}} {{name}} <button (click)="deleteName(i)">Eliminar</button></li>
</ul>
<div>
  <div *ngFor="let product of products">
    <strong>{{ product.name }}</strong>
    <p>{{ product.price }}</p>
    <img width="100" [src]="product.image" alt="image">
    <br>
    <br>
    <br>
  </div>
</div>

<hr>

<!--
========== NGSWITCH ==========
- Se declara enrte corchetes
- Es una forma de agrupar diferentes ngIf
-->
<h2 class="tema">NGSWITCH</h2>
<p class="descripcion">Estructura de control que agrupa multiples directivas *ngIf, tambien puede tener una opcion por
  defecto que se muestre si no se cumple ninguna condicion</p>
<input type="text" required [(ngModel)]="person05.name" />
<div [ngSwitch]="person05.name">
  <p *ngSwitchCase="'nicolas'">
    La persona es nicolas
  </p>
  <p *ngSwitchCase="'julian'">
    La persona es Julian
  </p>
  <p *ngSwitchCase="'camilo'">
    La persona es Camilo
  </p>
  <p *ngSwitchDefault>No hace match</p>
</div>

<hr>

<!--
========== ESTILOS ==========
- Añadimos estilos a las etiquetas como se hace nativamente en html, mediante el atributo class y el atributo id
-->
<h2 class="tema">ESTILOS</h2>
<p class="descripcion">Estilo basico responsive, usando media queries en el scss</p>
<div class="products--grid">
  <div *ngFor="let product of products">
    <img [src]="product.image" alt="image">
    <strong>{{ product.price }}</strong>
    <p>{{ product.name }}</p>
  </div>
</div>

<hr>

<!--
========== CLASS & STYLE ==========
- Podemos añadir clases segun condiciones mediante la estructura: [class.clase_a_añadir]="condion_a_cumplir"
- Podemos añadir stilos dependiendo de una condicion mediante la estuctura: [style.propiedad_css]="condicion_a_evaluar ? 'valor_posible_1' : 'valor_posible_2'"
- La estrctura de style, tambien resibe unicamente el valor a que toma el estilo indicado
-->
<h2 class="tema">CLASS & STYLE</h2>
<p class="descripcion">Con [class.] o [style.] se le pueden añadir clases y estilos dinamicos a nuestros
  elementos</p>
<!--Los id con # deben referenciarse despues de crearse, si se referencian antes de la creacion da error-->
<input type="text" required #nameInput2="ngModel" [(ngModel)]="person06.name">
<p class="message-error" [class.showerror]="nameInput2.invalid">El campo es requerido</p>
<input type="text" required #nameInput3="ngModel" [(ngModel)]="person07.name">
<p [style.font-style]="nameInput3.invalid ? 'italic' : 'normal'">Texto texto texto</p>
<div>
  <div>
    <input type="number" [(ngModel)]="person07.age" />
  </div>
  <div>
    <!--Las propiedades que reciben una unidad, se les puede indicar el valor de dicha unidad-->
    <img [style.width.px]="person07.age" [src]="person07.img" />
  </div>
</div>

<hr>

<!--
========== NGCLASS & NGSTYLE ==========
- Directiva [ngClass] y [ngStyle] aplican clase o estilos dependiendo de los condicionales referenciados
-->
<h2 class="tema">NGCLASS & NGSTYLE</h2>
<p class="descripcion">Directivas [ngClass.] y [ngStyle.] aplican clase o estilos dependiendo de los condicionales
  referenciados</p>
<input type="text" required #nameInput4="ngModel" [(ngModel)]="person08.name">
<p class="message-error" [ngClass]="{'mostrarerror': nameInput4.invalid, 'mostrarvalid': nameInput4.valid}">El campo
  es requerido</p>

<div class="styles">
  <div>
    <input type="number" [(ngModel)]="box.width" />
    <input type="number" [(ngModel)]="box.height" />
    <input type="color" [(ngModel)]="box.background" />
  </div>
  <div>
    <div [ngStyle]="{
      'width.px': box.width,
      'height.px': box.height,
      'background-color': box.background,
      'display': 'block'
    }"></div>
  </div>
</div>

<hr>

<!--
========== FORMULARIO ==========
- Los inputs dentro de los formularios deben contener el atributo name
- Podemos crar un id con para manejar el estado de nuestro formulario
- La funcion que se ejecuta al enviar el formulario esta en la etiqueta form
-->
<h2 class="tema">FORMULARIOS</h2>
<p class="descripcion">Angular permite, crear formularios, validar sus campos y ejecutar y modificar la funcion submit
  de forma facil y rapida</p>
<form (ngSubmit)="onRegister()" #myForm="ngForm">
  <div class="input-group">
    <label for="name">Nombre</label>
    <input type="text" name="name" required id="name" [(ngModel)]="register.name" />
    <!--p>Mensajes de error</p-->
  </div>
  <div class="input-group">
    <label for="email">Email</label>
    <input type="email" name="email" required id="email" [(ngModel)]="register.email" />
    <!--p>Mensajes de error</p-->
  </div>
  <div class="input-group">
    <label for="password">Password</label>
    <input type="password" name="password" required id="password" [(ngModel)]="register.password" />
    <!--p>Mensajes de error</p-->
  </div>
  <button [disabled]="myForm.invalid" type="submit">Registrar</button>
  <button type="button">Accion</button>
</form>

<hr>

<!--
========== RENDERIZANDO COMPONENTES ==========
- El html de un componente se llama mediante su selector en otro html
- Un compoennete se traduce en una etiqueta html gracias a su selector y se le pueden añadir atributos con @Input y recibir eventos con @Output
-->
<h2 class="tema">COMPONENTES</h2>
<p class="descripcion">Los compoenentes deben mantener funcionalidades unicas, son llamados por medio de su selector en
  otros componenetes html como si fueran una etiqueta, sus variables con el @input son atributos, y sus variables con el
  @output son eventos</p>

<!--
- selector de este componente
- se le envian datos mediante atributos
- recibe datos mediante eventos, el recibir datos puede o no hacer uso del argumento $event que contiene los datos que se envian mediante ese evento
- un componenete se puede llamar varias veces desde otro componenete
-->
<app-img (saludo)="recibeSaludo($event)"
  contenido="Esto es el contenido de un atributo que se puede modificar dinamicamente con un ngModel"
  descripcion="Esto es la descripcion de un atributo que se puede modificar dinamicamente con un ngModel"></app-img>

<hr>

<!--
========== PIPES ==========
- formatos para mostrar datos en el html
- hay muchos tipos de pipes que pueden usarse para mostrar datos en pantalla, hay que buscarlos en la documentacion de angular
- cada pipe tambien puede ser modificado, segun como la documentacion de angular explica
- los pipes tambien pueden crearse con el comando $ ng g p ruta/nombre_del_pipe
- los pipes son funciones que muestran de forma diferente la real impresion en el html, son como maquillar la visualizacion
- los pipes reciben como funcion lo que se muestra en el html
- Ej: {{ lo_que_se_muestra_dato_quemado_o_variable | funcion_que_recibe_lo_que_se_muestra_y_lo_maquilla }}
-->
<h2 class="tema">PIPES</h2>
<p class="descripcion">Funcion que maquilla el dato que se muestra en el html, podemos usar tanto funciones nativas de
  angular como crear las nuestras propias</p>
<p>{{ 'min' | uppercase }}</p>
<p>{{ 10000 | currency}}</p>
<p>{{ fecha | date:'yyyy.MM.dd'}}</p>
<!--pipe personalizado, creado desde cero-->
<p>{{ 'aloH' | reverse }}</p>

<hr>

<!--
========== DIRECTIVAS ==========
- nos permiten modificar elementos html segun reglas especificadas en dicha directiva
- las directivas son clases que modifican el estilo de etiquetas html
- funcionan como atributos dentro de nuestras etiquetas
-->
<h2 class="tema">DIRECTIVAS</h2>
<p class="descripcion">Son clases que modifican el estilo de nuestras etiquetas html, ademas de *ngIf, *ngFor y las
  demas directivas nativas de angular, podemos crear nuestras propias directivas personalizadas</p>
<div style="width: 150px; height: 150px; background-color: blue; text-align: center; color: white;" appHighlight>
  Directiva Personalizada</div>
