.descripcion{
  color: brown;
  font-weight: bold;
  margin-top: 0;
}

.tema{
  margin-bottom: 0;
}

/*con sass podemos tener identificadores anidados*/
.products--grid{
  display: flex;
  flex-direction: column;
  div{
    img{
      width: 100%;
      border-radius: 10px;
    }
    strong, p{
      margin: 0;
    }
    p{
      margin-bottom: 20px;
    }
  }
}

.message-error{
  color: red;
  opacity: 0;
  margin: 0 0 10px;
  /*transicion de todas las propiedades a sus nuevos valores*/
  transition: all linear .5s;
  /*identificador para si se añade la clase hija en compañia de la padre*/
  &.showerror{
    opacity: 1;
  }
}

/*media queries: consulta de medios, para responsive*/
@media screen and (min-width: 600px){
  .products--grid {
    display: grid;
    /*cantidad de columnas*/
    grid-template-columns: repeat(5, 1fr);
    /*espacio entre columnas*/
    grid-gap: 15px;
  }
}
