<h1>HOLA MUNDO</h1>

<hr>

<!--
========== INTERPOLACION ==========
- Interpreta codigo Js dentro de las dobles llaves, como operaciones o funciones de Js para manipulacion de datos.
- Interpreta Funciones o variables declaradas en el Ts
- Se puede usar para declarar los valores de los atributos de una etiqueta, pero no es recomendato
-->
<p>{{' HOLA MUNDO '.repeat(5)}}</p>
<p>3 + 3 = {{ 3 + 3 }}</p>
<p>Hola, soy {{name}} y tengo {{age}} años</p>
<img src={{img}} width="200">
<!--No recomentado, usar Binding para esto-->

<hr>

<!--
========== BINDING ==========
- Forma para modificar atributos desde el controlador y enviarlo al HTML
- Cualquier atributo de HTML se puede encerrar entre corchetes para convertirlo en un BINDING
- Ejemplo:
<img src="direccion_del_archivo">
<img [src]="variable_en_el_ts_con_la_direccion_del_archivo">
-->
<img [src]="person.img" width="200">
<input [value]="person.name" type="text">
<progress [value]="person.age" max="100"></progress>
<button [disabled]="person.complete">ENVIAR</button>
