<!--Variables sueltas-->
<h3>Variables sueltas</h3>
<p>
  Name: {{ nameField.value }}
  <input [class.is-valid]="isNameFieldValid" [class.is-invalid]="isNameFieldInvalid" type="text"
    [formControl]="nameField" />
  <button [disabled]="nameField.invalid" (click)="getNameFieldValue()">Get value</button>
  <strong *ngIf="nameField.touched && nameField.hasError('required')">Este campo es requerido</strong>
  <!--
  - desde el html se puedem consultar validaciones especificas de cada campo para mosrar un mensaje dependiendo de cada una
  - hay que tener envuenta que desde el html se hacen validaciones a los campos pero se deben escribir el nombre de cada validacion todo en minuscula
  -->
  <strong *ngIf="nameField.touched && nameField.hasError('maxlength')">debe tener maximo 10 caracteres</strong>
</p>

<p>
  Email: {{ emailField.value }}
  <input type="email" [formControl]="emailField" />
</p>
<p>
  Phone: {{ phoneField.value }}
  <input type="tel" [formControl]="phoneField" />
</p>
<p>
  Color: {{ colorField.value }}
  <input type="color" [formControl]="colorField" />
</p>
<p>
  Date: {{ dateField.value }}
  <input type="date" [formControl]="dateField" />
</p>
<p>
  Phone: {{ ageField.value }}
  <input type="number" [formControl]="ageField" />
</p>

<p>
  Category: {{ categoryField.value }}
  <select [formControl]="categoryField">
    <option value="category-1">Category 1</option>
    <option value="category-2">Category 2</option>
    <option value="category-3">Category 3</option>
    <option value="category-4">Category 4</option>
  </select>
</p>
<p>
  Tags: {{ tagField.value }}
  <select [formControl]="tagField" multiple>
    <option value="tag-1">Tag 1</option>
    <option value="tag-2">Tag 2</option>
    <option value="tag-3">Tag 3</option>
    <option value="tag-4">Tag 4</option>
  </select>
</p>

<p>
  Agree: {{ agreeField.value }}
  <input type="checkbox" [formControl]="agreeField" />
</p>
<p>
  Gender: {{ genderField.value }}
  <label>
    <input name="gender" value="male" type="radio" [formControl]="genderField" />
    Male
  </label>
  <label>
    <input name="gender" value="female" type="radio" [formControl]="genderField" />
    Female
  </label>
  <label>
    <input name="gender" value="other" type="radio" [formControl]="genderField" />
    Other
  </label>
</p>
<p>
  Zone: {{ zoneField.value }}
  <label>
    <input name="zone" value="zone-1" type="radio" [formControl]="zoneField" />
    Zona 1
  </label>
  <label>
    <input name="zone" value="zone-2" type="radio" [formControl]="zoneField" />
    Zona 2
  </label>
  <label>
    <input name="zone" value="zone-3" type="radio" [formControl]="zoneField" />
    Zona 3
  </label>
</p>

<!--Variables en un formulario-->
<h3>Variables en un formulario</h3>
<form [formGroup]="form" (ngSubmit)="save()">
  <p>
    Name: {{ nameForm?.value }} {{ nameForm?.valid }}
    <input [class.is-valid]="isNameFormdValid" [class.is-invalid]="isNameFormInvalid" type="text"
      formControlName="name" />
    <button [disabled]="nameForm?.invalid" (click)="getNameFormdValue()">Get value</button>
    <!-- <code>
      <pre>{{ nameField | json }}</pre>
    </code> -->
  </p>
  <p>
    <button type="submit">Enviar</button>
  </p>
</form>

<!--Variables en un formulario anidado-->
<h3>Variables en un formulario anidado</h3>
<form [formGroup]="formulario" (ngSubmit)="saveFormulario()">
  <p>
    Name: {{ nameFormmulario?.value }} {{ nameFormmulario?.valid }}
    <input [class.is-valid]="isNameFormularioValid" [class.is-invalid]="isNameFormularioInvalid" type="text"
      formControlName="name" />
    <button [disabled]="nameFormmulario?.invalid" (click)="getNameFormularioValue()">Get value</button>
  </p>
  <p>
    <button type="submit">Enviar</button>
  </p>
</form>

<!--Variables sueltas en un formulario-->
<h3>Variables sueltas en un formulario</h3>
<form #formu="ngForm">
  <div class="form-group">
    <label for="name">Name</label>
    <input id="name" name="name" class="form-control" ngModel />
  </div>
  <button class="btn btn-primary">Enviar</button>
</form>
<p>{{ formu.value | json }}</p>

<!--Variables referenciadas-->
<h3>Variables referenciadas en un formulario</h3>
<form #formul="ngForm" (ngSubmit)="onSubmit(formul)">
  <div class="form-group">
    <label for="name">Name</label>
    <input id="name" name="name" class="form-control" type="text" #classtestprueba01 #classtestprueba02="ngModel"
      [(ngModel)]="formul.name" />
  </div>
  <button class="btn btn-primary">Enviar</button>
</form>
<!--Estos datos tambien pueden usarse desde el css y aceder a cada imput dependiendo del estado en el que se encuentre-->
<p>{{ formul.value | json }}</p>
<p>NAME: {{ classtestprueba01.className }}</p>
<p>dirty: {{classtestprueba02.dirty}}</p>
<p>pristine: {{classtestprueba02.pristine}}</p>
<p>touched: {{classtestprueba02.touched}}</p>
<p>untouched: {{classtestprueba02.untouched}}</p>
<p>valid: {{classtestprueba02.valid}}</p>
<p>invalid: {{classtestprueba02.invalid}}</p>
